<div id="forum_groups">
  <% @groups.each do |group| %>
    <div class="item_group" id="forums-<%= group.id %>">
      <div class="header">
        <%= group.name %>
        <%= link_to "edit", edit_forumgroup_path(group), class: "editlink" if admin? %>
      </div>

      <div class="items">
        <% group.forums.each do |f| %>
          <%= link_to f.name, f, class: "item" %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>