<div id="forum_groups">
  <% @groups.each do |group| %>
    <div class="group" id="forums-<%= group.id %>">
      <div class="header">
        <%= group.name %>
        <%= link_to "edit", edit_forumgroup_path(group), class: "editlink" if admin? %>
      </div>

      <div class="forums">
        <% group.forums.each do |f| %>
          <div class="forum">
            <%= link_to f.name, f %>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>
</div>