<% if current_user %>
  <h3>New comment</h3>
  <%= simple_form_for [@post, @comment] do |f| %>
    <%= f.input :content, :label => false, :as => "text", :placeholder => "Comment" %>
    <%= f.submit %>
  <% end %>
<% end %>