<%= form_for [reply.get_message, reply] do |f| %>
  <%= render partial: "md_editor", locals: {name: "messagereply[text]", content: reply.text} %>
  <p><%= f.submit "Reply", class: "btn blue" %></p>
<% end %>

