<div class="user">
  <%= link_to user.name, user, class: "role #{user.role.name} #{"banned" if user.banned?} #{"disabled" if user.disabled?} #{"unconfirmed" unless user.confirmed?}", title: user.ign %>
  <%= link_to "$", donate_statics_path, class: "role donor", title: "Donator" if user.donor? %>
</div>