<%= form_for [reply.thread, reply] do |f| %>
  <%= render partial: "md_editor", locals: {name: "threadreply[content]", content: reply.content} %>
  <p><%= f.submit "Reply#{ ' (Locked)' if reply.thread.locked? }", class: "btn blue" %></p>
<% end %>
