<h1>Donate</h1>

<p>Running a server is really stressful and requires a lot of work.<br>
  Donating keeps us motivated to do all the work, pay eventual bills, etc.</p>
<p>Donations are made via <a href="https://www.paypal.com" target="_blank">PayPal</a>. We will eventually add more payment methods if we get many requests. (Use the forums)</p>
<p>If you cannot, or do not want to donate, that's totally fine!<br>
  Just thank us for running the server, it barely happens but really makes us happy :)</p>
<p>While we do appreciate every amount of donation, we have decided to create two special ranks:</p>
<ul>
  <li>Donator ($5 or more)
  <li>Donator+ ($20 or more)
</ul>

<p>We also have <%= link_to "list of users who donated", users_path(badge: "donor") %> already!</p>

<h3>Perks for you</h3>
<p>For <i>Donator</i> and <i>Donator+</i></p>
<ul>
  <li>The warm feeling of donating for a good thing, plus a huge "<b>thank you</b>"!
  <li>You can have a nickname. See <%= link_to "our nickname guidelines", info_path("12-nickname-guidelines") %>
  <li>A "$" next to your name <i>(Including website)</i>
</ul>
<hr>
<div class="donations">
  <div class="donation">
    <div class="left">
      <img src="<%= image_url("anonymous_skin.png") %>" alt="sponsor's skin" class="body">
    </div>
    <div>
      <h1>Donate to our server sponsor</h1>
      <h4>They pay for our server, but prefer to stay anonymous</h4>
      <form target="_blank" method="post" action="https://www.paypal.com/cgi-bin/webscr">
        <% if current_user %>
          <input name="custom" type="hidden" placeholder="Your Minecraft name" value="<%= current_user.ign %>">
        <% else %>
          <input name="custom" type="text" placeholder="Your Minecraft name">
        <% end %>
        <input value="_s-xclick" name="cmd" type="hidden">
        <input value="NWNLH88XR3TM4" name="hosted_button_id" type="hidden">
        <input value="Donate" name="Donate" type="submit" class="btn dark donate paypal">
      </form>
      <div class="clear"></div>
    </div>
  </div>
</div>
<hr>

<p class="small">Please note that you are not buying anything. We do not guarantee for these perks, however, we will try hard to make sure you'll get them! Donations are processed manually, it can take a few hours.</p>
