<h1>Donate</h1>

<p>Running a server is really stressful and expensive.<br>
  Donating keeps us motivated to do all the work and allows us to pay our bills, etc.</p>
<p>Donations are made via <a href="https://www.paypal.com" target="_blank">PayPal</a>.
<p>We do appreciate every amount of donation but we have decided to create two special ranks:</p>
<ul>
  <li>Donator  ($5  or more)
  <li>Donator+ ($20 or more)
</ul>
</p>
<h3>Perks for you</h3>
<p>For <i>Donator</i> and <i>Donator+</i></p>
<ul>
  <li>The warm feeling of donating and a big thank you!
  <li>Commands <i>/speed</i> and <i>/enchant</i>
  <li>You can have a nickname. See <i>/nick</i>
  <li>A "$" next to your name <i>(Including website)</i>
  <li>The name above your head gets a special color
  <li>Your head + a sign with your name at <i>/warp donors</i>
</ul>
<hr>
<div class="donations">
  <div class="donation">
    <h1>Donate to Redstone Sheep</h1>
    <h4>Sheep is our admin. He fixes everything &amp; keeps the server running.</h4>

    <form target="_blank" method="post" action="https://www.paypal.com/cgi-bin/webscr">
      <% if current_user %>
        <input name="custom" type="hidden" placeholder="Your Minecraft name" value="<%= current_user.ign %>">
      <% else %>
        <input name="custom" type="text" placeholder="Your Minecraft name">
      <% end %>
      <input value="_s-xclick" name="cmd" type="hidden">
      <input value="HPWLQLL87GTHC" name="hosted_button_id" type="hidden">
      <input value="Donate" name="Donate" type="submit" class="btn dark donate paypal">
    </form>
  </div>
  <div class="donation">
    <h1>Donate to PanFritz</h1>
    <h4>Pan hosts the Server.</h4>
    <form target="_blank" method="post" action="https://www.paypal.com/cgi-bin/webscr">
      <% if current_user %>
        <input name="custom" type="hidden" placeholder="Your Minecraft name" value="<%= current_user.ign %>">
      <% else %>
        <input name="custom" type="text" placeholder="Your Minecraft name">
      <% end %>
      <input value="_s-xclick" name="cmd" type="hidden">
      <input value="SW8TJLDK9FX3W" name="hosted_button_id" type="hidden">
      <input value="Donate" name="Donate" type="submit" class="btn dark donate paypal">
    </form>
  </div>
</div>