<% title "Home" %>
<% content_for :main_class, "front-page" %>

<h1>Community. Circuitry. Creativity.</h1>

<div id="join-now">Join us: synergy.redstoner.com</div>

<%= image_tag "logo.png" %>

<p>
  <span>Synergy is an amazing minecraft server</span>
  <span>for all redstoners of any (or no) skill level,</span>
  <span>beginner to advanced,</span>
  <span>from combo locks to doors to CPUs!</span>
</p>
<p>
  <span>We have a friendly community</span>
  <span>and experienced staff</span>
  <span>who are all kind and welcoming.</span>
</p>
<p>
  <span>A proof for our great community is the ton of</span>
  <span>welcome messages you get on your first join,</span>
  <span>from normal members and staff alike.</span>
</p>
<p>
  <span>The Creative plot world is full of amazing plots,</span>
  <span>where you can build on your own or with friends!</span>
  <span>There's also a Survival world</span>
  <span>for those who just want to mine some ore</span>
  <span>and we have a freebuild world for large projects.</span>
</p>
<p>Join us now!</p>
