<div id="delete_me" class="delete_me"> <!-- delete this div -->
  <h1>The loneliest page in the world</h1>
  <iframe width="420" height="315" src="//www.youtube.com/embed/N3O20EOE-p4?theme=light&color=red" frameborder="0" allowfullscreen></iframe>
</div>