<% title "Home" %>
<% content_for :main_class, "front-page" %>

<%= image_tag "logo.svg" %>
<h1>Community. Circuitry. Creativity.</h1>

<div id="join-now">Join us: redstoner.com</div>

<p>
  Redstoner is an amazing server for all redstoners of any (or no) skill level, beginner to advanced,<br>
  from combo locks to doors to CPUs!
</p>
<p>
  We have a friendly community and an experienced staff who are all kind and welcoming.
</p>
<p>
  A proof for our great community is the ton of welcome messages you get on your first join, from normal members and staff alike.
</p>
<p>
  The dedicated plot world is full of amazing plots, where you can build on your own or with your friends and<br>
  there is also a survival world for those who just want to mine some ore, and a free build world for large projects
</p>
<p>Join us now!</p>