<% title "Who's Playing?" %>
<h1>These players are currently playing on Synergy (<%= @count %>):</h1>
<div id="userlist">
  <% @players.each do |u| %>
    <div class="list-user">
      <%= link_to(u.avatar(64), u) %>
      <div class="detail">
        <%= render partial: "users/username", locals: { user: u } %><br>
        <% if u.id %>
          <i><%= u.ign %></i>
        <% else %>
          <i>(Not signed up)</i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

