body {
    background-color:rgb(50, 50, 50);
    text-shadow:none !important;
    color:rgb(190, 190, 190) !important;
}
::selection {
    background-color:rgb(100, 150, 255);
}
a {
    color:rgb(203, 75, 22);
    border-color:black !important;
}
a:hover {
    color:rgb(215, 100, 40);
}
#main-content {
    border-color:black !important;
    padding:30px 100px;
    box-shadow:none;
}
#main-content-scroll {
    padding: 131px 100px;
    border: 1px solid #000;
  box-shadow: 0 0 5px #000;
}
hr {
    background-color:black !important;
    border-color:black !important;
}
code {
    background-color:rgb(30, 30, 30) !important;
    border-color:black !important;
    color:white !important;
}
#head_top {
    width:100%;
    z-index:100;
}
#head_scroll {
  @extend #head_top;
  position: fixed;
  width: 100%;
  z-index: 1;
}
div#userbar {
    background-color:rgb(90, 90, 90) !important;
    border-color:black !important;
    color:white !important;
    text-shadow:none !important;
}
#head a {
    text-shadow:none !important;
    color:white !important;
}
#head a:hover {
    color:rgb(190, 190, 190) !important;
}
.header {
    background-color:rgb(0, 0, 0);
    border:none !important;
}
input[type="email"], input[type="text"], input[type="password"] {
    background-color:rgb(110, 110, 110) !important;
    color:white !important;
}
::placeholder {
    color:lightgray;
}
.item {
    background-color:rgb(40, 40, 40) !important;
    border-color:black !important;
}
.item-group {
    border-color:black !important;
}
div.header {
    background-color:rgb(20, 20, 20) !important;
}
.avatar {
    border-color:black !important;
}
.items {
    border-color:black !important;
}
.markdown-help {
    background-color:rgb(90, 90, 90);
    color:white;
    border-color:black;
}
textarea {
    background-color:rgb(100, 100, 100);
    color:white;
}
.headline {
    border-color:black !important;
}
.role {
    opacity:0.7 !important;
}
.label {
    opacity:0.7 !important;
}
.notice {
    color:white;
}
.info-suggestions a:not(:hover) {
    color: gray;
}
