/* CSS for Phones only */
@media only screen and (max-width: 700px)
{

  th, td {
    // force tables into line-mode
    // it''s a bit ugly, but probably the best
    // solution for small screens
    display: block;
  }

  #head_top {
    #menu {
      #logo {
        display: none;
      }
    }
  }

  #head_scroll {
    @extend #head_top;
    position: fixed;
}

  #main-content {
    padding: 30px 5px;
  }

  #main-content-scroll {
    padding: 181px 5px;
  }

  .front-page {
    h1 {
      font-size: 2em !important;
    }
  }

  .editlink {
    float: right;
    opacity: 1;
    margin-right: 0;
  }

  .item-group {
    margin: 30px 0;

    &.with-avatar {
      margin-left: 0;

      .avatar {
        float: none;
        margin: 0;
        border: none;
        height: 32px;
        width: 32px;
        vertical-align: middle;
      }
    }
  }

  #user-info {
    tbody {
      tr {
        display: block;
        margin-bottom: 0.5em;
      }
      td:first-child:after {
        content: ":";
      }
    }
  }

  #comments {
    margin: 50px 20px 0;
  }

}
