/* CSS for Phones only */
@media only screen
and (max-width: 999px)
{
  #mobile-info {
    background: none repeat scroll 0 0 #AB0000;
    color: #FFFFFF;
    text-align: center;
    display: block;
    font-size: 0.7em;
  }

  #head {
    text-align: left;
  }

  #main-content {
    padding: 30px 5px;
  }

  .editlink {
    float: right;
    opacity: 1;
    margin-right: 0;
  }

}