/* CSS for Phones only */
@media only screen
and (max-width: 999px)
{
  #mobile-info {
    background: none repeat scroll 0 0 #AB0000;
    color: #FFFFFF;
    font-weight: bold;
    padding: 1em;
    text-align: center;
    display: block;
  }
}