/* CSS for PCs only */

@media only screen
and (min-width: 0px) //TODO
{

  *, *:before, *:after, *:hover, *:active, *:focus {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    outline: none !important;
   }

   *::-moz-focus-inner {
     border: 0;
     outline: none !important;
   }

  html {
    overflow-y: scroll;
  }

  body {
    background-image: url('/assets/bg.png');
    background-color: #F0F2F2;
    color: #222;
  }

  #mobile-info {
    display: none;
  }

  a {
    transition: color 0.25s;
    color: #AB0000;
    text-decoration: none;
    &:hover {
      color: #F00;
    }
  }
  .flash {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    &#notice {
      background: #8e8;
      border-bottom: 3px dashed #8d8;
    }
    &#alert {
      background: #ebb;
      border-bottom: 3px dashed #fdd;
    }
  }
  #head {
    background-image: url('/assets/head_bg.png');
    width: 100%;
    max-width: 1000px;
    margin: auto;

    #logo {
      float: left;
      margin: 10px;
      max-width: 100%;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    #userinfo {
      float: right;
      margin: 10px;
      img.avatar {
        border: 1px solid #000;
        border-radius: 16px;
        vertical-align: middle;
        height: 32px;
        width: 32px;
        &:hover {
          box-shadow: 0 0 2px;
        }
      }
      #userinfo-box {
        float: left;
        text-align: right;
        margin: 5px;
        line-height: 1em;
      }
    }
    #menu {
      width: 100%;
      background: #686969;
      input {
        display: inline;
      }
      ul {
        float: left;
        margin: 0;
        padding: 0;
        a {
          color: #bbb;
          &:hover {
            color: #fff;
          }
        }
        li {
          float: left;
          height: 100%;
          margin: auto 10px;
          display: block;
          font-size: 1.5em;
        }
      }
    }
  }
  img.user-avatar {
    border: 1px solid #000;
    border-radius: 4px;
    height: 128px;
    width: 128px;
  }

  img.avatar {
    image-rendering: optimizeSpeed;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering: optimize-contrast;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }

  span.no-about {
    color: #888;
    font-style: italic;
  }

  #main-content {
    padding: 30px;
    width: 100%;
    max-width: 1000px;
    margin: auto;

    h1 {
      font-weight: normal;
      font-size: 200%;
      margin: 0;
      color: #888;
      text-shadow: 0 1px #999;
    }
  }

  .user-avatar {
    display: block;
  }

  .post {
    margin-bottom: 50px;
    .post-title {
      margin-bottom: 10px;
      word-wrap: break-word;
      h1 {
        text-transform: capitalize;
      }
      h2 {
        font-weight: normal;
        color: #700;
        text-transform: capitalize;
        display: inline;
        font-size: 200%;
      }
      .comment-counter {
        float: right;
      }
    }
    h1 {
      color: inherit !important;
      font-weight: bold !important;
      text-shadow: none !important;
    }
    .post-info {
      border-bottom: 2px dashed #999;
      color: #888;
      width: 100%;
      a {
        color: #755;
        &:hover {
          color: #d55;
        }
      }
      .post-edit {
        float: right;
      }
    }
    .post-content {
      margin-top: 10px;
      clear: both;
      word-wrap: break-word;
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }

    pre {
      background: #ddd;
      padding: 0.5em;
    }

    code {
      background: #ddd;
    }

    table, tr, td, th {
      border-collapse: collapse;
    }

    pre code {
      background: inherit;
      padding: 0;
    }

    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }

    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    blockquote p {
      display: inline;
    }

    table {
      tr, td, th {
        border-collapse: collapse;
        border: 1px solid #aaa;
      }
      tbody {
        tr:nth-child(odd) {
          background: #FFF;
        }
        tr:nth-child(even) {
          background: #DDD
        }
      }
      td, th {
        padding: 0.3em;
      }
      thead {
        background: #def;
      }
    }
  }

  #comments {
    margin: 50px 0 0 40px;
    .comment {
      margin-bottom: 12px;
      padding: 15px;
      border: 1px solid #555;
      &:hover .editlink {
        opacity: 1;
        margin-right: 0;
      }
      &.author {
        border: 1px solid #633;
      }
      .comment-content {
        word-wrap: break-word;
        overflow: hidden;
      }
    }
  }

  #markdown-note {
    margin: 0;
  }

  input , select, textarea {
    margin: 4px;
    vertical-align: middle;
    &[type=submit] {
      margin: 0;
    }
    option {
      padding: 0.5em;
      &:hover {
        background: #0f0;
        color: #00f;
      }
      &:nth-child(even) {
        background: #eee;
      }
      &:nth-child(odd) {
        background: #ccc;
      }
    }
  }

  input[type=text], input[type=email], input[type=password], input[type=number], textarea, select {
      background: #ddd;
      border: none;
      display: block;
      height: 3em;
      margin: 0 0 1px 0;
      padding: 0.5em 1em;
      width: 100%;
    }

  input, select, textarea {
    &.disabled, &[disabled] {
      box-shadow: none;
      background: #ddd;
    }
  }

  textarea {
    max-width: 100% !important;
    height: 200px;
    padding: 1em;
    min-height: 3.5em;
    &.comment {
      height: 75px;
    }
    &.full-width {
      width: 100%;
    }
    &.vertical {
      resize: vertical;
    }
    &.horizontal {
      resize: horizontal;
    }
  }

  tr.special_edit {
    background: #faa;
    font-style: italic;
    font-weight: bold;
    box-shadow: 0 0 5px #faa;
  }

  .field_with_errors {
    input {
      &[type=text], &[type=email], &[type=password] {
        border: 1px solid #f00;
        box-shadow: 0 0 5px #faa inset;
      }
    }
    .error {
      color: #f60;
    }
  }

  #form_labels {
    text-align: right;
    float: left;
    label {
      display: block;
      padding: 0.5em;
    }
  }
  #form_inputs {
    input, select, textarea {
      width: 400px;
    }
  }

  .profile-action {
    float: right;
  }

  .user-banned {
    background: #AB0000;
    color: white;
    font-weight: bold;
    padding: 4px;
    display: block;
    border-radius: 3px;
  }

  .user-unconfirmed {
    background:  #AB0000;
    color: white;
    font-weight: bold;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 3px;
    margin: 10px 0;
    box-shadow: 0 0 10px #000;
  }

  .btn {
    margin: 1px 1px 0 0;
    padding: 6px;
    cursor: default;
    color: #fff;
    border: none;
    &.blue {
    background: #4096ee;
    }
    &.red {
    background: #ee4040;
    }
    &.right {
      float: right;
    }
    &:hover {
      box-shadow: 0 0 5px #095fb7 inset;
      color: #fff;
    }
  }

  #userlist {
    .list-user {
      margin: 5px 0;
      display: table;
      a {
        color: #787878;
        display: inline-block;
        &:hover {
          color: #AB0000;
        }
      }
      a.avatar_url {
        float: left;
        height: 64px;
        width: 64px;
        background-color: #fff;
      }
      .user-info {
        margin-left: 10px;
        float: left;
        span {
          display: block;
        }
        .user-name {
          font-weight: bold;
        }
        .user-ign {
          color: #888;
          font-style: italic;
        }
      }
    }
  }

  .editlink {
    float: right;
    opacity: 0;
    margin-right: -10px;
    transition: opacity 0.3s, margin 0.3s;
  }

  #edit_create_post, #edit_create_comment {
    float: left;
  }

  #delete_post, #delete_comment {
    float: right;
  }

  #blogpost_text {
    width: 100%;
  }

  .clear {
    clear: both;
    display: block;
    visibility: hidden;
  }

  #forum_groups {
    .group {
      margin: 10px 0;
      .header {
        background: #ddd;
        border-radius: 5px 5px 0 0;
        padding: 0.5em;
        border-bottom: 1px solid #ccc;
      }
      .forums {
        border: 1px solid #ddd;
        border-top: none;
        border-bottom: none;
        .forum {
          display: block;
          font-weight: bold;
          padding: 0.5em;
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }

  .red-alert {
    color: #AB0000;
    font-weight: bold;
  }

}