/* CSS for PCs only */


$lightgrey: #D1D1D1;
$lightergrey: #959595;
$midgrey: #787878;
$darkgrey: #434343;
$darkred: #AB0000;



@media only screen
and (min-width: 1000px)
{

  html {
    overflow-y: scroll;
  }

  a {
    transition: color 0.25s;
    color: $darkred;
    text-decoration: none;
    &:hover {
      color: #F00;
    }
  }
  #notice {
    background: #8e8;
    text-align: center;
    padding: 10px;
    border-bottom: 3px dashed #8d8;
    font-weight: bold;
  }
  #alert {
    background: #ebb;
    text-align: center;
    padding: 10px;
    border-bottom: 3px dashed #fdd;
    font-weight: bold;
  }
  #head {
    width: 100%;
    height: 50px;
    background: $lightgrey;
    border-bottom: 10px solid $darkgrey;
    vertical-align: middle;
    font-weight: bold;
    box-shadow: 0 0 2px;
    z-index: 99;
    position: relative;
    #logo {
      margin: 9px;
      margin-left: 20px;
      height: 32px;
      width: 32px;
      float: left;
      background: url('/assets/logo.png');
    }
    a {
      color: $midgrey;
      &:hover {
        color: $darkred;
      }
    }
    #menu {
      margin: auto;
      display: table;
      ul {
        float: left;
        margin-top: 0;
        li {
          float: left;
          height: 100%;
          margin: auto 10px;
          display: block;
          font-size: 2.3em;
        }
      }
    }
    #userinfo {
      float: right;
      padding: 0 10px;
      margin-top: 6px;
      text-align: right;
      &.logged-out {
        margin-top: 2px;
      }
      img.avatar {
        border: 1px solid #000;
        border-radius: 16px;
        vertical-align: middle;
        height: 32px;
        width: 32px;
        &:hover {
          box-shadow: 0 0 2px;
        }
      }
      #userinfo-box {
        float: left;
        text-align: right;
        margin: 5px;
        line-height: 1em;
      }
    }
  }
  img.user-avatar {
    border: 1px solid #000;
    border-radius: 4px;
    height: 128px;
    width: 128px;
  }

  img.avatar {
    image-rendering: optimizeSpeed;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering: optimize-contrast;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }

  span.no-about {
    color: #888;
    font-style: italic;
  }

  #main-content {
    width: 650px;
    margin: 0 auto;
    background: #eee;
    padding: 30px;

    h1 {
      font-weight: normal;
      font-size: 400%;
      margin: 0;
      color: #888;
      text-shadow: 0 1px #999;
    }
  }

  #posts {
    #post {
      margin-bottom: 50px;
      #post-title {
        margin-bottom: 10px;
        h2 {
          font-weight: normal;
          color: #700;
          text-transform: uppercase;
          display: inline;
          font-size: 250%;
        }
        .comment-counter {
          float: right;
        }
      }
    }
  }

  .post-info {
    border-bottom: 2px dashed #999;
    color: #888;
    a {
      color: #755;
      &:hover{
        color: #d55;
      }
    }
  }

  #post-content {
    margin-top: 10px;
    clear: both;
    img {
      max-width: 100%;
    }
  }

  #comments {
    margin: 50px 0 0 40px;
    .comment {
      margin-bottom: 12px;
      padding: 15px;
      box-shadow: 0 0 10px #bbb inset;
      &:hover .editlink {
        opacity: 1;
        margin-right: 0;
      }
      &.author {
        background: #dadada;
        box-shadow: 0 0 10px #a7a7a7 inset;
      }
      .comment-content {
        word-wrap: break-word;
        overflow: hidden;
      }
    }
    textarea {
      width: 480px;
      height: 106px;
      max-width: 610px;
    }
  }

  input {
    &[type=text], &[type=email], &[type=password] {
      border: 1px solid #aaa;
      border-radius: 3px;
      background: #eee;
      margin: 4px;
      box-shadow: 0 0 5px $lightgrey inset;
      height: 17px;
      width: 300px;
      padding: 1px 0;
      display: block;
    }
  }

  textarea {
    border: 1px solid #aaa;
    border-radius: 3px;
    background: #eee;
    margin: 4px;
    box-shadow: 0 0 5px $lightgrey inset;
    height: 300px;
    width: 300px;
    max-width: 100%;
    min-width: 300px;
    min-height: 50px;
    padding: 1px 0;
    display: block;
    &.vertical {
      resize: vertical;
    }
    &.horizontal {
      resize: horizontal;
    }
  }

  tr.special_edit {
    background: #faa;
    font-style: italic;
    font-weight: bold;
    box-shadow: 0 0 5px #faa;
  }

  .field_with_errors {
    input {
      &[type=text], &[type=email], &[type=password] {
        border: 1px solid #f00;
        box-shadow: 0 0 5px #faa inset;
      }
    }
    .error {
      color: #f60;
    }
  }

  #form_labels {
    text-align: right;
    float: left;
    label {
      display: block;
      padding: 0 0 4px 0;
      margin: 0 4px 4px;
      height: 17px;
    }
  }
  #form_inputs {

  }

  .profile-action {
    float: right;
  }

  .user-banned {
    background: $darkred;
    color: white;
    font-weight: bold;
    padding: 4px;
    display: block;
    border-radius: 3px;
  }

  .btn-blue {
    border: 1px solid;
    padding: 6px;
    background: #4096ee;
    cursor: default;
    color: #fff;
    &:hover {
      box-shadow: 0 0 5px #095fb7 inset;
      color: #fff;
      outline: none;
    }
  }

  #userlist {
    .list-user {
      margin: 5px 0;
      display: table;
      a {
        color: $midgrey;
        display: inline-block;
        &:hover {
          color: $darkred;
        }
      }
      a.avatar_url {
        float: left;
      }
      .user-info {
        margin-left: 10px;
        float: left;
        span {
          display: block;
        }
        .user-name {
          font-weight: bold;
        }
        .user-ign {
          color: #888;
          font-style: italic;
        }
      }
    }
  }

  .editlink {
    float: right;
    opacity: 0;
    margin-right: -10px;
    transition: opacity 0.3s, margin 0.3s;
  }

  #edit_create_post {
    float: left;
  }

  #delete_post {
    float: right;
  }

  #blogpost_text {
    width: 100%;
  }





}