@keyframes wiggle {
  0% {transform: rotate(-3deg);}
  100% {transform: rotate(3deg);}
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}
@keyframes target {
  0% {background-color: #ff8;}
}
@-webkit-keyframes target {
  0% {background-color: #ff8;}
}


*, *:before, *:after, *:hover, *:active, *:focus {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  outline: none !important;
 }

*::-moz-focus-inner {
  border: 0;
  outline: none !important;
}

html {
  overflow-y: scroll;
  padding: 0 !important;
  margin: 0 !important;
}

body {
  background-color: #f2f2f2;
  color: #3f3f3f;
  padding: 0 !important;
  margin: 0 !important;
  font: 14px 'Oswald','Calibri','Arial','DejaVu Sans', 'Open Sans','Lucida Sans','Lucida Grande','Lucida Sans Unicode',sans-serif;
}

::selection {
  color: #fff;
  background: #363636;
}

::-moz-selection {
  color: #fff;
  background: #363636;
}

a {
  color: #ab0000;
  text-decoration: none;

  &:hover {
    color: #f00;
  }
}

.flash {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;

  &.notice {
    background: #8e8;
    border-bottom: 3px dashed #8d8;
  }

  &.alert {
    background: #ebb;
    border-bottom: 3px dashed #fdd;
  }
}

#head {
  background: #3f3f3f;

  #menu {
    margin: auto;
    max-width: 100%;
    width: 1600px;
    border-bottom: 1px solid #363636;
    height: 100%;
    position: relative;

    #logo {
      display: inline-block;
      width: 100px;
      height: 100px;
      position: absolute;
      background: url(image_path('logo.png')) no-repeat;
      background-position: 0 -100px;

      &:hover {
        transition: all 0.3s ease 0s;
        background-position: 0 0;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 0;
      text-align: center;

      li {
        display: inline-block;
        vertical-align: top;

        a {
          margin: 15px 10px;
          font-size: 20px;
          line-height: 1em;
          display: inline-block;
          color: #fff;

          &:hover, &.active {
            color: #f66;
          }
        }

        .subtitle {
          color: #aaa;
          font-size: 11px;
          height: 0;
          margin-top: -5px;
        }
      }
    }
  }

  #userbar {
    border-bottom: 1px solid #d1d1d1;
    height: 50px;
    line-height: 50px;
    text-align: right;
    display: inline-block;
    width: 100%;
    background: #eaeaea;

    #userinfo {
      display: inline-block;
      margin-right: 10px;
      text-shadow: 0 1px 1px #fff;

      a {
        color: #3f3f3f;
        &:hover {
          color: #f00;
        }
      }

      img.avatar {
        border: 1px solid #000;
        border-radius: 16px;
        vertical-align: middle;
        height: 32px;
        width: 32px;

        &:hover {
          box-shadow: 0 0 2px;
        }
      }

      #userinfo-box {
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        line-height: 1em;
      }
    }
  }
}

.front-page {
  margin: auto;
  text-align: center;

  h1 {
    font-size: 65px !important;
  }

  p {
    font-size: 18px;

    span {
      // used to control eventual line breaks a bit
      display: inline-block;
    }
  }

  img {
    display: block;
    margin: auto;
  }

  #join-now {
    background: #080;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px #000 inset;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em;
  }
}

img.user-avatar {
  border: 1px solid #000;
  border-radius: 4px;
  height: 128px;
  width: 128px;
}

img.avatar {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

span.no-about {
  color: #888;
  font-style: italic;
}

#main-content {
  padding: 30px 100px;
  width: 1600px;
  max-width: 100%;
  margin: auto;
  border: 1px solid #ddd;
  border-top: none;
  box-shadow: 0 0 5px #fff;
  border-radius: 0 0 4px 4px;

  h1 {
    font-weight: normal;
    font-size: 200%;
    margin: 1em 0 0.5em;
    text-shadow: 0 1px #999;
    word-wrap: break-word;

    &.info-title {
      font-size: 3em;
      margin-bottom: 0.6em;
    }
  }
}

#user-info {
  .user-avatar {
    margin-bottom: 30px;
  }
}

.user-avatar {
  display: block;
}

.post, .thread, .thread-reply, .preview {
  margin-bottom: 50px;

  .post-content, .thread-content {
    margin-top: 10px;
    clear: both;
    word-wrap: break-word;
    overflow: hidden;
  }

  .post-title, .thread-title {
    margin-bottom: 10px;
    word-wrap: break-word;

    h1 {
      text-transform: capitalize;
    }

    h2 {
      font-weight: normal;
      text-transform: capitalize;
      display: inline;
      font-size: 200%;
    }
  }

  table {
    tr, td, th {
      border-collapse: collapse;
      border: 1px solid #aaa;
    }

    tbody {
      tr:nth-child(odd) {
        background: #fff;
      }

      tr:nth-child(even) {
        background: #ddd;
      }
    }

    td, th {
      padding: 0.3em 1em;
    }

    thead {
      background: #3f3f3f;
      color: #fff;
    }
  }

  li {
    padding: 0.5em;
  }
}

.info {
  margin-top: 2em;

  a {
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 1em;

    &:hover {
      background: #3f3f3f;
      color: #fff
    }
  }
}

pre {
  border-radius: 2px;
  position: relative;
  background: #3f3f3f;

  &:after {
    content: attr(lang); // show language on top right
    font-style: italic;
    text-transform: capitalize;
    margin: 4px 10px;
    position: absolute;
    right: -10px;
    top: 0;
    opacity: 0;
    transition: all 0.3s;
    cursor: default;
  }

  &:hover:after {
    opacity: 1;
    right: 0;
  }

  // code blocks
  code {
    display: block;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow-x: auto;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }
}

// inline code
code {
  background: #fff;
  padding: 2px;
  border-radius: 3px;
  color: #000;
  border: 1px solid #aaa;
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
  max-width: 100%; // force line break
  text-decoration: inherit;
}

table, tr, td, th {
  border-collapse: collapse;
  word-wrap: break-word;
}

blockquote {
  border-left: 2px solid #3f3f3f;
  display: block;
  margin: 0;
  padding: 1em;
}

blockquote p {
  display: inline;
}


.user {
  display: inline-block;
  font-size: 0;

  a.role {
    display: inline-block;
    font-weight: bold;
    padding: 4px 0.5em;
    border: 1px solid #3f3f3f;
    border-radius: 3px;
    text-shadow: none;
    line-height: 1em;
    margin: 1px 0;
    font-size: 14px;
    text-overflow: ellipsis;
    max-width: 27em; // works with the 30 character limit

    &.banned, &.disabled {
      text-decoration: line-through !important;
      color: #888 !important;
    }

    &.unconfirmed {
      color: #555 !important;
    }

    &:hover {
      color: #ddd !important;
    }
  }

  .ign {
    display: block;
    color: #000;
    font-style: italic;
  }

  .badge {
    margin-left: 2px !important;
  }
}

#online-users {
  .user {
    margin-left: 4px;
  }
}

.md_editor {
  .field_container {
    position: relative;

    .preview-button {
      position: absolute;
      top: 1em;
      left: 1em;
      z-index: 10;
    }

    .editor_field {
      padding: 0 1em 1em;
      border-top: 4em solid transparent;
      min-height: 5em;
      margin: 0;
    }

    .preview {
      display: none;
      padding: 4em 1em 1em;
    }
  }
}

ul.dropdown-menu {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  overflow: hidden;

  li.textcomplete-item {
    padding: 0.5em 1em;
    border: none;

    &.active, &:hover {
      background-color: #6cf;
    }

    a {
      color: #000;
    }
  }
}

ul.auto-list {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000;
  background-color: #363636;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 999;
  color: #fff;

  li {
    cursor: pointer;
    padding: 2px;

    &:hover, &[data-selected=true] {
      background-color: #f66;
    }

    mark {
      font-weight: bold;
      margin: 0;
      padding: 0;
      background: inherit;
      text-decoration: underline;
      color: inherit;
    }
  }
}

#comments {
  margin: 50px 0 0 40px;
}

.markdown-help {
  margin: 4px 0 0;
  background: #ddd;
  padding: 0.5em 1em;
  border-bottom: 1px solid;

  blockquote {
    display: inline-block;
    padding: 2px;
  }
}

select {
  text-indent: 0.01px;
  text-overflow: "";
}

input , select, textarea {
  margin: 4px;
  vertical-align: middle;

  &[type=submit] {
    margin: 0;

    &.btn {
      cursor: pointer;
    }
  }

  option {
    padding: 0.5em;
    height: 2em;

    &:hover {
      background: #0f0;
      color: #00f;
    }

    &:nth-child(even) {
      background: #eee;
    }

    &:nth-child(odd) {
      background: #ccc;
    }
  }
}

.table-cell {
  display: table-cell;

  &.full-width {
    width: 100%;
  }
}

input[type=text], input[type=email], input[type=password], input[type=number], textarea, select {
  background: #ddd;
  border: none;
  height: 3em;
  margin: 4px 0 0;
  padding: 0.5em 1em;
  width: 100%;

  &.auto-width {
    width: auto;
  }
}

input, select, textarea {
  &.disabled, &[disabled] {
    box-shadow: none;
    background: #ddd;
  }
}

textarea {
  max-width: 100% !important;
  height: 300px;
  width: 100%;
  padding: 1em;
  min-height: 3.5em;
  resize: vertical;
}

tr.spacer {
  height: 2em;
}

.field_with_errors {
  input, select, textarea {
    border: 1px solid #f00;
    box-shadow: 0 0 5px #faa inset;
    border-bottom: none;
  }

  .validation-error, .error {
    display: inline-block;
    padding: 0 1em;
    width: 100%;
    background: #faa;
    font-weight: bold;
    border: 1px solid #f00;
    border-top: none;
  }
}

.profile-action {
  float: right;
}

.user-unconfirmed, .user-banned {
  background:  #ab0000;
  color: #fff;
  font-weight: bold;
  padding: 4px 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  margin: 10px 0;
}

.btn {
  margin: 1px 1px 0 0;
  padding: 6px;
  cursor: default;
  color: #fff;
  border: none;
  font-size: 12px;
  line-height: normal;
  display: inline-block;

  &[disabled], &[disabled]:hover {
    box-shadow: 0 0 5px #ddd inset;
    color: #ddd;
  }

  &.blue {
    background: #4096ee;

    &[disabled] {
      background: #96c1ee;
    }
  }

  &.red {
    background: #ee4040;
    &[disabled] {
      background: #ee8383;
    }
  }

  &.dark {
    background: #363636;
  }

  &.donate {
    padding-right: 30px;

    &.paypal {
      background-image: url(image_path('double_p.svg'));
      background-repeat: no-repeat;
      background-position: right 6px center;
    }
  }

  &:hover {
    box-shadow: 0 0 5px #095fb7 inset;
    color: #fff;
  }
}

#userlist {
  text-align: center;

  .list-user {
    display: inline-block;
    text-align: left;
    width: 463px;
    max-width: 100%;
    margin: 15px 0;

    a img {
      vertical-align: middle;
      border: 1px solid;
      border-radius: 3px;
      color: #222;
      display: inline-block;
      height: 66px; // 64px + 1px border on each side
      width: 66px;
      &:hover {
        color: #ab0000;
      }
    }

    .detail {
      display: inline-block;
      vertical-align: middle;
      margin-left: 3px;
    }
  }
}

.editlink {
  float: right;
  opacity: 0;
  margin-right: -10px;
  transition: opacity 0.3s, margin 0.3s;
}

#blogpost_text {
  width: 100%;
}

.clear {
  clear: both;
  display: block;
  visibility: hidden;
}

.clear-right {
  clear: right;
  display: block;
  visibility: hidden;
}

.item-group {
  margin: 30px 0;

  &.with-avatar {
    margin-left: 70px;

    .avatar {
      margin: -7px 0 0 -77px;
      border: 1px solid #ccc;
      border-radius: 5px;
      float: left;
    }
  }

  &:hover .editlink {
    opacity: 1;
    margin-right: 0;
  }

  &:target {
    animation: target 2.5s;
    -webkit-animation: target 2.5s;
  }

  .header {
    background: #3f3f3f;
    border-radius: 5px 5px 0 0;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    color: #fff;
    text-shadow: 0 1px 1px #222;

    a {
      color: #fff;

      &:hover {
        color: #f66;
      }
    }
  }

  .items {
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;

    .item {
      display: block;
      padding: 0.5em;
      border-bottom: 1px solid #ddd;

      &:target {
        animation: target 2.5s;
        -webkit-animation: target 2.5s;
      }

      &.locked:before {
        content: " ";
        background: url(image_path("lock.png")) no-repeat center center;
        margin-right: 5px;
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }

      &.sticky:before {
        content: " ";
        background: url(image_path("pin.png")) no-repeat center center;
        margin-right: 5px;
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }

      &.lockedsticky:before {
        content: " ";
        background: url(image_path("lock-pin.png")) no-repeat center center;
        margin: -7px 5px -3px 0;
        display: inline-block;
        width: 20px;
        height: 30px;
        vertical-align: middle;
      }

      &.content {
        overflow-x: auto;
        word-wrap: break-word;

        hr {
          border: none;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #fff;
        }

        .headline {
          margin: 0;
          border-bottom: 1px solid #ddd;
        }
      }

      .item-info {
        float: right;
      }
    }
  }
}

.donation {
  margin-bottom: 3em;

  img.body {
    float: left;
    margin-right: 20px;
    -webkit-filter: drop-shadow(0 0 4px #666);
    filter: drop-shadow(0 0 4px #666);
  }

  input[name="custom"] {
    width: auto;
  }
}

.bold {
  font-weight: bold;
}

iframe.youtube {
  border: none;
  width: 640px;
  max-width: 100%;
  height: 360px;
}

mark {
  background: #faa;
  padding: 0 2px;
  border-radius: 3px;
}

.comment-counter {
  float: right;
}

.red-alert {
  color: #ab0000;
  font-weight: bold;
}

table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;

  label {
    font-weight: bold;
  }
}

img {
  max-width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.small {
  font-size: 10px;
  color: #888;
}

.inline-block {
  display: inline-block;
}

#footer {
  padding: 30px 0;
  width: 1600px;
  max-width: 100%;
  margin: auto;
  text-align: center;

  .note {
    color: #888;
    margin-top: 5em;

    a {
      color: inherit;
      &:hover {
        color: #555;
      }
    }

    * {
      vertical-align: middle;
    }
  }
}

nav.pagination {
  font-size: 0;
  margin-top: 60px;
  text-align: center;

  span {
    display: inline-block;
    font-size: 20px;
    padding: 0 5px;
  }
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.info-suggestions {
  border-top: 1px solid #fff;
  box-shadow: 0 -1px 0 0 #ddd;
  font-size: 0;
  margin-top: 50px;
  padding-top: 30px;

  a {
    color: #444;
    display: inline-block;
    padding: 4px 1em;
    width: 50%;
    font-size: 18px;
    vertical-align: middle;

    &:first-child {
      text-align: right;
      border-right: 1px solid black;
    }
    &:last-child {
      text-align: left; // just in case it's changed in a parent node
    }
  }
}

.lockednote {
  background: #ffa500;
  border: 1px solid;
  border-radius: 3px;
  color: #000;
  display: inline-block;
  padding: 2px 5px;
}

.label {
  background: #333;
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
  text-shadow: none;
}
