<div class="markdown-help">
  <blockquote>&gt; quote</blockquote> |
  _underline_ |
  <i>*italic*</i> |
  <b>**bold**</b> |
  <code>`code`</code> |
  <mark>==mark==</mark> |
  [<a>link</a>](https://example.com)

  <%= link_to "formatting help", "/info/1", target: "_blank", class: "right", tabindex: -1 %>
  <div class="clear"></div>
</div>