<% title "Info" %>

<h1>Info</h1>
<% if mod? %>
  <%= link_to "New Info", new_info_path, class: "btn blue" %>
<% end %>
<div class="info">
  <% @info.each do |info| %>
    <%= link_to info.title, info %>
  <% end %>
</div>